.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  width: 100%;
  justify-content: flex-start; 
  gap: 40px; 
  padding-top: 70px;
}
.skills-light {
  background-color: white;
  color: #000;
}
.skills-dark {
  background-color: #08012c;
  color: white;
}
.about-skills {
  font-size: 50px;
  font-weight: 800;
  gap: 40px;
  color: rgb(250, 6, 197);
}
.skill {
  display: flex;
  flex-wrap: wrap; /* small screen pe cards wrap ho jaye */
  gap: 50px;
  justify-content: center;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
  width: 50%;
  height: 50px;
}
.skill-card {
  width: 350px;
  height: 90px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid white;
}
.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.skill-body {
  padding: 17px;
  display: flex;
  border-radius: 30px;
  gap: 90px;
}
.level {
  display: inline-block;
  padding: 6px 12px; /* kam padding */
  border-radius: 8px; /* halka rounded */
  font-size: 0.75rem;
  font-weight: 500;
  color: green;
  background-color: rgb(126, 231, 148);
  text-align: center;
  min-width: 70px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.level:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
